:root{
	--violeta-degrade: linear-gradient (249 99% 64%, 278 94% 30%);
	--vermelho: hsl(0, 100%, 66%);
	--branco: hsl(0, 0%, 100%);
	--violeta-acinzentado-claro: hsl(270, 3%, 87%);
	--violeta-acinzentado-escuro: hsl(279, 6%, 55%);
	--violeta-muito-escuro:  hsl(278, 68%, 11%);
	--fonte-principal: 'Space Grotesk';
}


body{
	
	font-size: 18px;
	font-family: var(--fonte-principal);
	font-weight: 500;



}

section.card{
	overflow-x: hidden;
}

.card__back{
	top: -13rem;
	left: 3.5rem;
	position: relative;
}
.card__back--img{
	width: 80%;
	
}
.card__back--texto{
	top: -18.75rem;
	left: 18.75rem;
	position: relative;

}

.card__back--texto--p{
	
	font-size: 10px;
	color: var(--branco);
}

.card__front{
	top: -18.3rem;
	left: 1rem;
	position: relative;
}

.card__front--img{
	width: 80%;
	
}

.card__front--logo{
	top: -28rem;
	left: 2rem;
	position: relative;
}

.card__front--logo--logo{
	width: 15%;
}

.card__front--numero{
	top: -25rem;
	left: 2rem;
	position: relative;
}

.card__front--numero--num{
	color: var(--branco);
	letter-spacing: .1rem;
	text-decoration: none;
}

.card__front--texto{
	display: flex;
	top: -24rem;
	left: 2rem;
	position: relative;
	justify-content: space-between;
	width: 65%;

}

.card__front--nome,
.card__front--validade-mes,
.card__front--validade-ano,
.card__front--validade-barra {
	font-size: 10px;
	color: var(--branco);
	text-transform: uppercase;

}

.card__front--validade-mes{
	margin-left: 8rem;
}

.label__padrao{
	display: block;
 	margin: .75rem .75rem;
 	color: var(--violeta-muito-escuro);
 	text-transform: uppercase;
 	font-size: 14px;

}

.cvc__container{
	float: right;
	margin-top: -2.5rem;
}

.input__padrao{
	padding: .75rem;
	width: 85%;
	border: 1px solid var(--violeta-acinzentado-claro);
}

.input__padrao::placeholder{
	color: var(--violeta-acinzentado-escuro);
}

.input__padrao:hover{
	border: 1px solid var(--violeta-acinzentado-escuro);
	cursor: pointer;
}

.input__padrao-data{
	width: 10%;
	padding: .75rem;
	border: 1px solid var(--violeta-acinzentado-claro);
}

.input__padrao-data::placeholder{
	color: var(--violeta-acinzentado-escuro);
}

.input__padrao-data:hover{
	border: 1px solid var(--violeta-acinzentado-escuro);
	cursor: pointer;
}

.input__padrao-cvc{
	width: 70%;
	padding: .75rem;
	border: 1px solid var(--violeta-acinzentado-claro);
}

.input__padrao-cvc::placeholder{
	color: var(--violeta-acinzentado-escuro);
}

.input__padrao-cvc:hover{
	border: 1px solid var(--violeta-acinzentado-escuro);
	cursor: pointer;
}

.enviar{
	margin: 2rem 1rem;
	width: 85%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.enviar:hover{
	cursor: pointer;
}

.mensagem__obrigado{
	display: none;
	position: fixed;
	top:30%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--branco);
	width: 100vw;
	

}

.mensagem__obrigado-img{
	margin-left: 10rem;
	margin-top: 2rem;


}
.mensagem__obrigado-button{
	margin: 2rem 2rem;
	width: 85%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.mensagem__obrigado-button:hover{
	cursor: pointer;
}

.mensagem__obrigado-button:hover{
	c
}

.mensagem__obrigado-thank{
	text-align: center;
	text-transform: uppercase;
	color: var(--violeta-muito-escuro);
	margin: 1rem 0;
	font-size: 28px;
}
.mensagem__obrigado-texto{
	text-align: center;
	color: var(--violeta-acinzentado-escuro);
	
	
}

section.mensagem__obrigado{
	overflow-x: hidden;
}

.mensagem__erro{
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}

.mensagem__branco {
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}

.form{
	margin-top: -20rem;
}

@media screen and (min-width: 1200px){

	section.card{
	overflow: hidden;
	height: 100vh;
}

body{
	background: url("images/bg-main-desktop.png");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;

}

.card__mobile{
	display: none;
}

.container-card__back{
	position: relative;
}
.card__back{
	top: 20rem;
	left: 20rem;
	position: absolute;
}
.card__back--img{
	width: 70%;
	
}
.card__back--texto{
	top: 25rem;
	left:36rem;
	position: absolute;

} 

.container-card__front{
	position: relative;
}
.card__front{
	top: 8rem;
	left: 16rem;
	position: absolute;
}

.card__front--img{
	width: 70%;
	
}

.card__front--logo{
	left: 17rem;
	top: 9rem;
	position: absolute;
}

.card__front--logo--logo{

	width: 80%;
}

.card__front--numero{
	top: 15rem;
	left: 18rem;
	position: absolute;
}

.card__front--numero--num{
	color: var(--branco);
	letter-spacing: .1rem;
	font-size: 16px;
}

.card__front--texto{
	display: flex;
	top: 17rem;
	left: 14rem;
	position: absolute;
	justify-content: space-around;
	width: 25%;

}

.card__front--nome{
	margin-left: 3rem;
}

.card__front--nome,
.card__front--validade-mes,
.card__front--validade-ano,
.card__front--validade-barra {
	font-size: 10px;
	color: var(--branco);
	text-transform: uppercase;

}

.card__front--nome{
	margin-left: 3rem;
}
.card__front--validade-mes{
	margin-right:1rem;	
}

.card__front--validade-ano{
	margin-left: 1rem;
}

.form{
float: right;
margin-top: -30rem;
margin-left: 50rem;

}

..mensagem__obrigado{
	display: none;
	position:fixed;
	top:50%;
	height: 100%;
	background-color: var(--branco);
	width: 50%;
	

}

.enviar{
	margin: 2rem .5rem;
	width: 60%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.enviar:hover{
	cursor: pointer;
}

.mensagem__obrigado-button{
	margin: 2rem 2rem;
	width: 40%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}
.mensagem__obrigado{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	background-color: var(--branco);
	width: 50vw;
	

}

.mensagem__obrigado-img{
	margin-left: 19rem;
	margin-top: 10rem;


}
.mensagem__obrigado-button{
	margin-top: 3rem;
	margin-left: 9rem;
	width: 60%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.mensagem__obrigado-button:hover{
	cursor: pointer;
}

.mensagem__obrigado-button:hover{
	c
}

.mensagem__obrigado-thank{
	text-align: center;
	text-transform: uppercase;
	color: var(--violeta-muito-escuro);
	margin: 3rem 0;
	font-size: 28px;
}
.mensagem__obrigado-texto{
	text-align: center;
	color: var(--violeta-acinzentado-escuro);
	
	
}

.mensagem__erro{
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}

.mensagem__branco {
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}

.cvc__container{
	float: right;
	margin-top: -2.5rem;
	margin-right: 12rem;
}

}

@media screen and (min-width: 1440px) {
   
section.card{
	overflow: hidden;
	height: 100vh;
}

body{
	background: url("images/bg-main-desktop.png");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;

}

.card__mobile{
	display: none;
}

.container-card__back{
	position: relative;
}
.card__back{
	top: 28rem;
	left: 15rem;
	position: absolute;
}
.card__back--img{
	width: 100%;
	
}
.card__back--texto{
	top: 35rem;
	left:38rem;
	position: absolute;

} 

.container-card__front{
	position: relative;
}
.card__front{
	top: 10rem;
	left: 10rem;
	position: absolute;
}

.card__front--img{
	width: 100%;
	
}

.card__front--logo{
	left: 12rem;
	top: 12rem;
	position: absolute;
}

.card__front--logo--logo{

	width: 100%;
}

.card__front--numero{
	top: 20rem;
	left: 12rem;
	position: absolute;
}

.card__front--numero--num{
	color: var(--branco);
	letter-spacing: .1rem;
	font-size: 22px;
}

.card__front--texto{
	display: flex;
	top: 23rem;
	left: 12rem;
	position: absolute;
	justify-content: space-between;
	width: 25%;

}

.card__front--nome,
.card__front--validade-mes,
.card__front--validade-ano,
.card__front--validade-barra {
	font-size: 10px;
	color: var(--branco);
	text-transform: uppercase;

}

.card__front--validade-mes{
	margin-left: 15rem;
}


.form{
float: right;
margin-top: -50rem;
margin-left: 50rem;

}

..mensagem__obrigado{
	display: none;
	position:fixed;
	top:50%;
	height: 100%;
	background-color: var(--branco);
	width: 50%;
	

}

.enviar{
	margin: 2rem 1rem;
	width: 85%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.enviar:hover{
	cursor: pointer;
}

.mensagem__obrigado-button{
	margin: 2rem 2rem;
	width: 50%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}
.mensagem__obrigado{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	background-color: var(--branco);
	width: 50vw;
	

}

.mensagem__obrigado-img{
	margin-left: 20rem;
	margin-top: 15rem;


}
.mensagem__obrigado-button{
	margin-top: 3rem;
	margin-left: 9rem;
	width: 60%;
	background-color: var(--violeta-muito-escuro);
	color: var(--branco);
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

.mensagem__obrigado-button:hover{
	cursor: pointer;
}

.mensagem__obrigado-button:hover{
	c
}

.mensagem__obrigado-thank{
	text-align: center;
	text-transform: uppercase;
	color: var(--violeta-muito-escuro);
	margin: 3rem 0;
	font-size: 28px;
}
.mensagem__obrigado-texto{
	text-align: center;
	color: var(--violeta-acinzentado-escuro);
	
	
}

.mensagem__erro{
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}

.mensagem__branco {
	font-size: 10px;
	color: var(--vermelho);
	display: none;
}
}

